body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

#pokedex {}

#pokedex img {
  object-fit: contain;
  background-color: green;
}

.pokemon-wrapper {
  min-height: 50vh;
  background-color: rgb(83, 21, 21);
  color: white;
  display: flex;
  flex-direction: column;
}

.pokemon-sprites-wrapper {
  background-color: white;
  border-radius: 10px;
  display: flex;
}