html {
  --poke-orange: #fc6c6d;
  --poke-green: #49d0b1;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(226, 226, 226);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 5px 17px 2px #00000078;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}

h1 {
  font-size: 2.5rem;
  margin-block-start: 0;
  margin-block-end: 0;
}

nav img {
  height: 24px;
  object-fit: cover;
}

main {
  margin-top: 100px;
}

.pokedex-gallery {
  display: flex;
  padding: 15px;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-card-wrapper {
  min-height: 100px;
  width: 250px;
  background-color: var(--poke-orange);
  color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 9px 0px #00000078;
}

.pokemon-card-header {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 0 15px;
}

.pokemon-id {
  width: 100%;
  text-align: right;
}

.pokemon-card-header h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.pokemon-card-body {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.pokemon-type {
  background-color: var(--poke-green);
  padding: 6px 12px;
  border-radius: 15px;
  margin-top: 10px;
}

.cp {
  cursor: pointer;
}

.pokemon-portrait-container {
  background-color: rgb(102, 102, 102);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  display: flex;
}

.pokemon-portrait-wrapper {
  min-height: 100px;
  width: 100%;
  background-color: var(--poke-orange);
  color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 9px 0px #00000078;
  justify-content: space-between;
}

.pokemon-portrait-header {
  display: flex;
  align-items: center;
  padding: 15px;
  flex-direction: column;

}

.header-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-wrapper {
  width: 100%;
  /* display: flex; */

}

.header-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  ;
}

.header-wrapper h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.pokemon-type-wrapper {
  display: flex;
  flex-direction: column;
}

.img-container {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
}

.img-container img {
  background-color: yellowgreen;
  width: 200px;
  height: 200px;
}

.pokemon-portrait-body {
  background-color: white;
  width: 100%;
  min-height: 200px;
  border-radius: 25px;
  color: black;
  padding: 15px;
}


td:first-child {
  padding-right: 5px;
}

th {
  width: 100%;
  text-align: left;
}

.portrait-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.active {
  font-weight: 700;
}

.d-none {
  display: none;
}

.no-data {
  color: grey;
  font-style: italic;
}